body{
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    width: 90%;
    background-image: linear-gradient(to bottom, #EEF6E7, #E0F9CD);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 15%;
}

.logo{
    width: 20%;
    margin: 5%;
}

.fa-artstation{
    font-size: 40px;
}

.logo a{
    font-size: 20px;
}

.navbar__link{
    width: 60%;
    display: flex;
    justify-content: space-around; 
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

li a{
    margin: 5%;
}

nav a{
    text-decoration: none;
    color:black;
}

.button{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.btn{
    width: 45%;
    padding: 5%;
    background-color: #04AA6D;
    border: none;
    color: white;
    cursor: pointer;
}

.btn--up{
    background-color: #555555;
}


a:hover{
    color:pink;
}

/*.page{
    width: 90%;
    height: 70%;
}
.footer{
    width: 90%;
    height: 15%;
    positon: fixed;
    background-image: linear-gradient(to bottom, #EEF6E7, #E0F9CD);
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/
