*{
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    line-height: 1.5;
    cursor: default;
}

body{
    display: flex; 
    justify-content: center;
}
.container{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    width: 100%;
    background: #2dca4b;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    height: 20%;
}   

.logo{
    width: 40%;
    margin: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fa-artstation{
    font-size: 100px;
    margin-right: 5%;
}

.logo a{
    font-size: 40px;
    font-weight: 600;
}

.navbar__link{
    width: 40%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end; 
}

li{
    display: inline-block;
    margin: 3%;
    font-size: 20px;
}

li a{
    cursor:pointer;
}

li a:hover{
    color: #879871;
}

nav a{
    text-decoration: none;
    color:black;
}

.button{
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.btn{
    width: 45%;
    padding: 5%;
    background-color: #34724e;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.btn--up{
    background-color: #555555;
}

.btn:hover{
    color: #C1C6BB;
}

.page{
    width: 90%;
    height: 70%;
}

/* Landing page starts here. */
/*header {  Home page
    display: inline-block;
    height: 200px;
    width: 100%;
    background: url(/images/background.png)/*center/cover no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    font-size: 20px;
    position: relative;
    z-index: 1;
  }
  
  .polygon {
    overflow: hidden;
    position: absolute;
    width: 40%;
    left: 30%;
    right: 0;
    top: 15%;
    z-index: -1;
  }
  .line {
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 40%;
    right: 25%;
    width: 50%;
  }*/

.landing-page{
    width:100%;
    height:100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-artist{
    border: 5px solid black;
}

.container-service{
    border: 5px solid black;
}

.container-appointment{
    border: 5px solid black;
}

.container-faq{
    border: 5px solid black;
}












footer{
    width: 100%;
    height: 15%;
    bottom: 0;
    left:0;
    position: fixed;
    background: #2dca4b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color:black;
}

.footer__info-left{
    width: 25%;
    font-size: 20px;
}

.footer__info-right{
    width: 12%;
    font-size: 20px;
    margin: 2%;
}

.footer__info-title{
    font-weight: 700;
}

.footer__info-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 300;
}

.footer__info-detail-icon{
    cursor:pointer;
}

.footer__info-detail-icon:hover{
    color: #C1C6BB
}