body{
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    width: 90%;
    background-image: linear-gradient(to bottom, #EEF6E7, #E0F9CD);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 15%;
}   

.logo{
    width: 35%;
    margin: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fa-artstation{
    font-size: 100px;
    margin-right: 5%;
}

.logo a{
    font-size: 40px;
}

.navbar__link{
    width: 50%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end; 
}

li{
    display: inline-block;
    margin: 3%;
    font-size: 20px;
}

li a:hover{
    color: #879871;
}

nav a{
    text-decoration: none;
    color:black;
}

.button{
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.btn{
    width: 45%;
    padding: 5%;
    background-color: #04AA6D;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btn--up{
    background-color: #555555;
}

.btn:hover{
    color: #C1C6BB;
}

.page{
    width: 90%;
    height: 70%;
}
.footer{
    width: 90%;
    height: 15%;
    bottom: 0;
    position: fixed;
    background-image: linear-gradient(to bottom, #EEF6E7, #E0F9CD);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color:black;
}

.footer__info-left{
    width: 25%;
    font-size: 20px;
}

.footer__info-right{
    width: 10%;
    font-size: 20px;
    margin: 2%;
}

.footer__info-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    cursor:pointer;
}




